html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sigmar One', cursive;
  color: #f8d79a;
  text-shadow: 2px 2px #121212;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Sigmar One', cursive;
  color: #f8d79a;
  text-shadow: 2px 2px #121212;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-shadow: none;
  color: #131313;
}

Input {
  font-family: 'Sigmar One', cursive;
  color: #131313;
  text-shadow: none !important;
}