html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sigmar One', cursive;
  color: #f8d79a;
  text-shadow: 2px 2px #121212;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Sigmar One', cursive;
  color: #f8d79a;
  text-shadow: 2px 2px #121212;
}

p {
  text-shadow: none;
  color: #f8d79a;
;
}

b {
  text-shadow: none;
  color: #f8d79a;
}

Input {
  font-family: 'Sigmar One', cursive;
  color: #131313;
  text-shadow: none !important;
}