body {
    background: #f8d79a;
    color: #131313;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    margin-top: -65px;
    z-index: 999;
}

footer {
    width: 100%;
    height: 55px;
    background: #131313;
}

footer a {
}

footer ul {
    list-style-type: none;
    margin: 0 20% auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    background: #131313;
}

footer li {
    display: inline-block;
    text-align: left;
    font-size: 1em;
}

footer li a:hover {
    color: #800000;
}

footer li a {
    display: block;
    font-weight: bold;
    color: #f8d79a;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 105px;
}

.navigation {
    background: #131313;
    font-family: 'Sigmar One', cursive;
}

.navigation ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #131313;
}

.navigation li {
    height: 65px;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 10px #131313 solid;
}

.navigation li:hover a {
    color: #9b0000;
}

.navigation li a {
    display: block;
    color: #f8d79a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 105px;
}

.navigation li:first-child {
}

.wrapper {
    margin-top: 65px;
}

.swiper-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 300px;
}


.carousel-wrapper {
    height: 300px;
    padding-top: 1em;
    padding-left: 6em;
    background-size: cover;
}

.specialFont {
    font-family: 'Sigmar One', cursive;
    color: #f8d79a;
    text-shadow: 2px 2px #121212;
}

.social-logo-wrapper {
    height: 120px;
    text-align: center;
    display: block;
    font-family: 'Sigmar One', cursive;
}

.social-logo-wrapper:hover .logo-image {
    filter: brightness(50%);
}

.social-logo-wrapper a {
    color: #9b0000;
    text-decoration: none;
}

.social-logo-wrapper:hover a {
    color: #810000;
}

.logo-image {
    margin-bottom: 10px;
    height: 90px;
}

#social-title {
    color: #9b0000;
    font-size: 4rem;
    text-align: left;
    margin-left: 1em;
}

#home {
    background-image: url('/backgrounds/background.png');
    background-size: cover;
}

#social {
    background-image: url('/backgrounds/background4.jpg');
    background-size: cover;
}

#ecosystem {
    background-image: url('/backgrounds/background3.jpg');
    background-size: cover;
}

#about {
    background-image: url('/backgrounds/background4.jpg');
    background-size: cover;
}

Input {
    font-family: 'Sigmar One', cursive;
    color: #131313;
    text-shadow: none !important;
}

.signup-button {
    font-family: 'Sigmar One', cursive;
    color: #9b0000;
    background: green;
    text-shadow: none;
}
.signup-button:hover {
    color: #f8d79a;
    filter: brightness(50%);
}


